In [20]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:

#wine_base = pd.read_csv("data/winemag-data_first150k.csv", index_col=0)
wine_base = pd.read_csv("FINAL_stem_tf_parsed_weather.csv", index_col=0)
wine_base.head(5)

,country,description,points,price,province,taster_name,variety,winery,new_1,new_2,...,pr_5,pr_6,pr_7,pr_8,pr_9,tas_5,tas_6,tas_7,tas_8,tas_9
vintage,,,,,,,,,,,,,,,,,,,,,
1952,8,year ii oak deep oldgold color rich sweet wood...,95,499.0,164,13,376,10276,0.100000,0.100000,...,120.1810,54.8968,13.36560,12.36770,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1952,8,astonish age rich toffe warm intens concentr d...,96,415.0,164,13,376,1703,0.052632,0.003597,...,120.1810,54.8968,13.36560,12.36770,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1957,8,great balanc fresh age vener port cours mani w...,95,375.0,164,13,376,8743,0.076923,0.027027,...,92.0486,44.2920,6.72316,7.40562,49.3675,15.0959,18.7823,22.4479,22.4856,20.6839
1961,8,old gold color matur colheita great vintag por...,95,320.0,164,13,376,5078,0.100000,0.058824,...,90.5883,43.2681,25.67690,2.98664,43.9189,18.0467,20.0059,21.9887,23.7509,20.2514
1963,8,matur port past year rich fig chocol touch alm...,95,467.0,164,17,376,6238,0.090909,0.005952,...,38.1876,48.3052,3.52590,4.78859,29.1487,16.1193,18.4244,22.1413,20.8027,19.1788

In [22]:
from sklearn.model_selection import train_test_split
X = wine_base.drop(['points'], axis=1)
y = wine_base['points'].copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [23]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#vect = CountVectorizer(tokenizer=custom_tokenizer, min_df=5)
vect = CountVectorizer(min_df=5)
vect.fit(X_train['description'])
print("vocabulary size: {}".format(len(vect.vocabulary_)))
X_train_vectored = vect.transform(X_train['description'])

vocabulary size: 5897

In [24]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import GridSearchCV

lr = LinearRegression()
lr.fit(X_train_vectored, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
from sklearn.metrics import mean_squared_error
y_pred = lr.predict(X_train_vectored)
mse = mean_squared_error(y_train, y_pred)
mse

3.589151533211965

In [28]:
X_test_vectored = vect.transform(X_test['description'])
y_test_pred = lr.predict(X_test_vectored)
mse = mean_squared_error(y_test, y_test_pred)
mse

4.176147181694122

In [13]:
df = pd.read_csv("stemmed_tf_parsed_weather.csv", index_col=0)

In [14]:
df.head(5)

,country,points,price,province,taster_name,variety,winery,new_1,new_2,new_3,pr_5,pr_6,pr_7,pr_8,pr_9,tas_5,tas_6,tas_7,tas_8,tas_9
vintage,,,,,,,,,,,,,,,,,,,,
1952,8,95,499.0,164,13,376,10276,0.100000,0.100000,0.004785,120.1810,54.8968,13.36560,12.36770,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1952,8,96,415.0,164,13,376,1703,0.052632,0.003597,0.001577,120.1810,54.8968,13.36560,12.36770,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1957,8,95,375.0,164,13,376,8743,0.076923,0.027027,0.004785,92.0486,44.2920,6.72316,7.40562,49.3675,15.0959,18.7823,22.4479,22.4856,20.6839
1961,8,95,320.0,164,13,376,5078,0.100000,0.058824,0.003185,90.5883,43.2681,25.67690,2.98664,43.9189,18.0467,20.0059,21.9887,23.7509,20.2514
1963,8,95,467.0,164,17,376,6238,0.090909,0.005952,0.005917,38.1876,48.3052,3.52590,4.78859,29.1487,16.1193,18.4244,22.1413,20.8027,19.1788

In [16]:
features=['price']
X = df.loc[:,features]

In [17]:
X.head(2)

         price
vintage
1952     499.0
1952     415.0